sudo: false
language: c
compiler:
  - clang
  - gcc

env:
  global:
    - XI_BSP_TLS=wolfssl
    - XI_MAKETARGET=tests
  matrix:
    - PRESET=ARM_REL
    - PRESET=ARM_REL_MIN

    - PRESET=CC3200
      XI_MAKETARGET=""
    - PRESET=CC3200_SDK120
      XI_MAKETARGET=""
    - PRESET=CC3200_TLS_SOCKET
      XI_MAKETARGET=""

    - PRESET=POSIX_DEV
    - PRESET=POSIX_DEV_MIN
    - PRESET=POSIX_REL
    - PRESET=POSIX_REL_MIN

    - PRESET=POSIX_REL
      XI_BSP_TLS=mbedtls

    - PRESET=POSIX_THREADING_REL
    - PRESET=POSIX_UNSECURE_REL
      XI_BSP_TLS=""
    
    - TESTS=fuzztests
      PRESET=FUZZ_TESTS
      XI_BSP_TLS=""
      XI_MAKETARGET="fuzz_tests" 
cache:
    apt
addons:
  apt:
    sources:
      - llvm-toolchain-precise-3.8
      - ubuntu-toolchain-r-test
    packages:
      - clang-3.8
      - gcc-6
      - g++-6
      - qemu-system
      - libc6:i386
      - expect
matrix:
  exclude:
    - compiler: clang
      env: PRESET=ARM_REL_MIN
    - compiler: clang
      env: PRESET=ARM_REL
    - compiler: clang
      env: PRESET=CC3200 XI_MAKETARGET=""
    - compiler: clang
      env: PRESET=CC3200_SDK120 XI_MAKETARGET=""
    - compiler: clang
      env: PRESET=CC3200_TLS_SOCKET XI_MAKETARGET=""
    - compiler: gcc 
      env: TESTS=fuzztests PRESET=FUZZ_TESTS XI_BSP_TLS="" XI_MAKETARGET="fuzz_tests"
before_script:
  - "if [[ ! $TESTS == 'fuzztests' ]]; then
        if [[ $CC == *'clang'* ]]; then export CC='clang-3.8'; fi;
     else 
        if [[ $CC == *'clang'* ]]; then export CC=clang CXX=clang++; fi;
     fi"
script:
  - "set -e"
  - "cd $HOME/build/xively/xively-client-c/"
  - "expect res/travis/travis_build.expect make PRESET=$PRESET XI_DEBUG_OUTPUT=0 $XI_MAKETARGET;"
  - "if [[ ! $CC == 'gcc' && ! $TESTS == 'fuzztests' ]]; then
        make -C examples/mqtt_logic_example  XI_CLIENT_LIB_PATH=../../bin/linux XI_BSP_TLS=$XI_BSP_TLS;
        make -C examples/mqtt_logic_producer XI_CLIENT_LIB_PATH=../../bin/linux XI_BSP_TLS=$XI_BSP_TLS;
        make -C examples/mqtt_logic_consumer XI_CLIENT_LIB_PATH=../../bin/linux XI_BSP_TLS=$XI_BSP_TLS;
        make -C examples/mqtt_logic_example_two_contexts XI_CLIENT_LIB_PATH=../../bin/linux XI_BSP_TLS=$XI_BSP_TLS;
        make -C examples/mqtt_last_will       XI_CLIENT_LIB_PATH=../../bin/linux XI_BSP_TLS=$XI_BSP_TLS;

        if [[ $CONFIG == 'senml' ]]; then
            make -C examples/senml_serializer XI_CLIENT_LIB_PATH=../../bin/linux XI_BSP_TLS=$XI_BSP_TLS;
        fi;
    fi;"

